@use 'src/defaults' as defaults;

.spellbottombar {
  height: 40px;
  margin-top: 1px;
  background: rgba(0, 0, 0, 0.20);

  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 3px;
  padding-right: 3px;

  &__button {
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;

    box-sizing: border-box;
    line-height: 20px;
    font-family: defaults.$font;
    height: 24px;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    background: rgba(0, 0, 0, 0.10);
    width: 100%;

    &:hover {
      background: rgba(0, 0, 0, 0.20);
    }

    &:active {
      background: rgba(0, 0, 0, 0.40);
    }
  }

  &__input {
    box-sizing: border-box;
    font-family: defaults.$font;
    height: 24px;
    width: 100%;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    background: rgba(0, 0, 0, 0.10);
    margin-left: 3px;
    margin-right: 3px;

    &-long {
      width: 200%;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.20);
    }

    &::placeholder {
      color: white;
      text-align: center;
    }

    &:focus {
      outline: none;
      background: rgba(0, 0, 0, 0.40);
    }
  }
}
