$light: #34495e;
$dark: #2c3e50;

.border {
  padding: 5px;
  background: $light;
  margin-top: 1px;
  margin-bottom: 2px;
}

.spell-editor {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;

  box-sizing: border-box;

  .form {
    padding: 5px;
    display: flex;
    border-top: 1px solid white;
    border-left: 1px solid white;
    background: $light;

    button {
      color: white;
      background: $light;
      border: 1px solid white;
      padding: 10px;
      margin: 2px;

      &:hover {
        background: mix($light, rgb(100, 100, 100));
      }
    }
  }

  .data {
    overflow: auto;
    height: auto;
  }

  .range {
    .description {
      color: lightgray;
      font-style: italic;
    }
  }

  .locked {
    pointer-events: none;
  }

  .components, .duration {
    display: flex;
    flex-direction: column;
  }

  input, textarea, select {
    margin: 5px;

    &:focus {
      outline: 1px solid black;
    }
  }

  span {
    margin-right: 5px;
  }

  p {
    margin: 0;
  }
}
